.text {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;

  line-height: 1;
  font-style: italic;
  text-align: justify;
  padding: 10px;
}

.progressbar {
  position: fixed;
  bottom: 3%;
  left: 0;
  width: 100%;
}

mat-progress-bar {
  height: 50px !important;
  border-radius: 25px;
}

@media all and (min-width: 991px) {
  .text {
    font-size: 3vw;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    height: 100%;
    position: fixed;
    width: 85%;
  }

  .bar {
    width: 50%;
    margin-left: 35%;
    margin-right: auto;
  }
}

@media all and (max-width: 991px) {
  .text {
    font-size: 10vw;
  }
  .main {
    height: 100%;
    position: fixed;
    width: 100%;
  }

  .bar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
