<div class="main-content">
  <div
    class="back-button clickme"
    (click)="login()"
    *ngIf="!(authService.loggedIn | async)"
  >
    <img src="../../../../assets/img/login_black.svg" />
    <span>Login</span>
  </div>
  <div class="acoes center-vertical center">
    <div class="botao-acao">
      <button class="btn btn-success" (click)="goto('apresentacao/dicas')">
        Dicas
      </button>
    </div>
    <div class="botao-acao">
      <button class="btn btn-info" (click)="goto('apresentacao/conselhos')">
        Conselhos
      </button>
    </div>
    <div class="botao-acao" *ngIf="false">
      <button
        class="btn btn-warning"
        (click)="goto('apresentacao/motivacionais')"
      >
        Motivacionais
      </button>
    </div>
    <div class="botao-acao">
      <button class="btn btn-sucess" (click)="goto('apresentacao/sim-nao')">
        Sim / Não
      </button>
    </div>
  </div>
</div>
