/* You can add global styles to this file, and also import other style files */
@import "~@aws-amplify/ui-angular/theme.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}

.mt-3 {
  margin-top: 3%;
}

.center-vertical {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.clickme {
  cursor: pointer;
}
